{% extends "base.html" %}

{% block body %}
<div class="jumbotron text-center">
  <h1>Create Webmaps with Python and Folium</h1>
  <p>Create Webmaps with Python and Folium...</p>

</div>
<hr>
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h3>Create Webmaps with Python and Folium:</br></h3>
      <form method='POST' action=".">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit">submit</button>
      </form>
    </div>
    </div>

    {% if map_name %}
    <div class="row">
      <div class="col-sm-12">
        <h3>Your maps is avaiable at below link:</br></h3>
        <a href="/webmaps/generated_maps/{{map_name}}" target="_blank">{{map_name}}</a>

      </div>
      </div>

    {% endif %}


</div>
{% endblock %}
